.containerElements{
    display: flex;
margin-top: 10px;
height: 100%;
justify-content: space-evenly;
}
.imgLegend{
   width: 150px;
}

.greenBorder{
    border: 2px sold green;
}

.redBorder{
    border: 2px sold red;
}